<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="update-city" method="post" th:object="${city}">
        <input type="hidden" name="id" th:field="*{id}">
        Название: <input type="text" name="name" th:field="*{name}">
        <br>
        Население: <input type="number" name="population" th:field="*{population}">
        <br>
        Туристический ли: <input type="checkbox" name="touristic" th:field="*{touristic}">
        <br>
        Дата основания: <input type="date" name="foundationDate" th:field="*{foundationDate}">
        <br>
        <button type="submit" class="btn btn-success">Обновить город</button>
    </form>
</div>
</body>
</html>